* {
  /* testing boxes */
  border: 1px;
  border-color: green;
  border-style: solid;
  /* height & width now includes border & padding */
  box-sizing: border-box;
}

body {
  margin: 1%;
  justify-content: center;
}

.pci-banner1 {
  height: 30vh;
  width: 100vw;
}

.menu-item {
  height: 10vh;
}

.pci-hq {
  width: 30vw;
}

.quote-bg {
  background-color: black;
  height: 80vh;
  width: 100vw;
}

.quote-text {
  margin: 1rem 1rem;
  font-size: 2.75rem;
  color: white;
}

/* CSS for Team Page */
.board-of-directors-img-format {
  height: 45vh;
}
