* {
  /* testing boxes */
  border: 1px;
  border-color: green;
  border-style: solid;
  /* height & width now includes border & padding */
  box-sizing: border-box;
}

.pci-banner1 {
  height: 30vh;
  width: 100vw;
}

.menu-item {
  height: 10vh;
}

.pci-hq {
  width: 30vw;
}
